<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detail</title>
</head>
<body style="background: #31B7FF;">
    {% extends 'Matkul/listMatkul.html' %}

    {% block content %}
    <h2 class="display-3" style="color:#FFF;margin-top: 75px; margin-bottom: 75px; margin-left: 30px; margin-right: 30px;text-align:center;font-weight: 800;font-family: 'Poppins', sans-serif;">Upload Mata Kuliah</h2>
    <section  style="margin-top: 75px; margin-bottom: 75px; margin-left: 150px; margin-right: 150px">
    <div class="card" >
        <div class="card-header">
            <h5>Mata Kuliah</h5>
        </div>
        <div class="card-body">
            <h3 class="card-title">{{cek_matkul.nama}}</h5>
            <p class="card-text"><b>Dosen Pengajar:</b> {{cek_matkul.dosen}}<br><b>Jumlah SKS:</b> {{cek_matkul.sks}}<br><b>Semester:</b> {{cek_matkul.semester}}<br><b>Ruang:</b> {{cek_matkul.ruang}}<br><b>Deskripsi:</b><br> "{{cek_matkul.deskripsi}}"</p>
            <center>
                <a href="/story5/update/{{cek_matkul.id}}" class="btn btn-primary" id = '{{cek_matkul.id}}'>Update</a>
                <a href="/story5/delete/{{cek_matkul.id}}" class="btn btn-primary" id = '{{cek_matkul.id}}'>Delete</a>
            </center>
        </div>
    </div>
    </section>
    {% endblock %}
</body>
</html>