<!DOCTYPE html>
{% load static %}

<html>
<head>
    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <title>Mata Kuliah</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body style="background: #31B7FF;">
    
        <nav class="navbar navbar-expand-md fixed-top topbar-transparent">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <ul class="navbar-nav mx-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'upload-matkul' %}">Upload</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'homepage:index' %}">Story 3</a>
                    </li>
                </ul>
            </div>
        </nav> 
        <br>
        
        {% block content %}
        <h2 class="display-3" style="color:#FFF;margin-top: 75px; margin-bottom: 75px; margin-left: 30px; margin-right: 30px; text-align:center; font-family: 'Poppins', sans-serif; font-weight: 800;">List Mata Kuliah</h2>
        <section  style="margin-top: 75px; margin-bottom: 75px; margin-left: 150px; margin-right: 150px">
        <div class="card" >
            {% for matkul in dataMatkul %}
            <div class="card-header">
                <h5>Mata Kuliah</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{matkul.nama}}</h3>
                <p class="card-text"><b>Dosen Pengajar:</b> {{matkul.dosen}}<br><b>Jumlah SKS:</b> {{matkul.sks}}<br><b>Semester:</b> {{matkul.semester}}<br><b>Ruang:</b> {{matkul.ruang}}</p>
                <center>
                    <a href="update/{{matkul.id}}" class="btn btn-primary" id = '{{matkul.id}}'>Update</a>
                    <a href="delete/{{matkul.id}}" class="btn btn-primary" id = '{{matkul.id}}'>Delete</a>
                    <a href="detail/{{matkul.id}}" class="btn btn-primary" id = '{{matkul.id}}'>Detail</a>
                </center>
            </div>
            {% endfor %}
        </div>
        </section>
        {% endblock %}
        
    </body>
</html>