<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form</title>
</head>
<body>
    {% extends 'Matkul/listMatkul.html' %}
    {% block content %}
        <center>
        <h2 class="display-3" style="color:#FFF;margin-top: 75px; margin-bottom: 75px; margin-left: 30px; margin-right: 30px;font-weight: 800; font-family: 'Poppins', sans-serif;">Upload Mata Kuliah</h2>
        <form method = 'POST' enctype="multipart/form-data" style="margin-bottom: 75px;">
            {% csrf_token %}
            <table class = 'w-50 table table-light' style="background-color:#b2d7fb; border-color: #F77070;">
                {% for matkul in upload_form %}
                <tr style=" border-color: #F77070;">
                    <th>{{matkul.label}}</th>
                    <td>{{ matkul }}</td>
                </tr>
                {% endfor %}
            </table>
            <button type="submit" class="btn btn-lg btn-warning" style="">Submit</button>
        </form>
        </center>
    {% endblock %}
</body>
</html>


