{% load static %}

<nav class="navbar navbar-expand-md fixed-top topbar-transparent">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item">
                <a class="nav-link" href="/#home">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#education">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#skills">Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#contact">Contact</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/#projects">Projects</a>
            </li>
            <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  My Stories
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item disabled" href="/story1" aria-disabled="true">Story 1</a>
                    <a class="dropdown-item" href="/story5">Story 5</a>
                    <a class="dropdown-item" href="/story6">Story 6</a>
                    <a class="dropdown-item" href="/story7">Story 7</a>
                    <a class="dropdown-item" href="/story8">Story 8</a>
                </div>
            </li> -->
            <!-- <li class="nav-item">
                <a class="nav-link" href="/story9">Login/SignUp</a>
            </li> -->
        </ul>
    </div>
</nav> 