<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <link rel="stylesheet" href=" {% static 'css/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto:wght@300&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Form Kegiatan</title>
</head>
<body style="background: #31B7FF;">
    <nav class="navbar navbar-expand-md fixed-top topbar-transparent">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation"><i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'index' %}">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'homepage:index' %}">Story 3</a>
                </li>
            </ul>
        </div>
    </nav> 
    <br>
        <center><br>
        <section style="margin-top: 75px; margin-bottom: 75px; margin-left: 150px; margin-right: 150px">
        <!-- <h2 class="display-3" style="color:#FFF;margin-top: 75px; margin-bottom: 75px; margin-left: 30px; margin-right: 30px;font-weight: 800; font-family: 'Poppins', sans-serif;">Activities</h2> -->
        <form method="POST" style="" action="{% url 'uploadkegiatan'%}" >
            {% csrf_token %}
            <div class="row">
                <div class="col">
                    {{uploadKegiatan}}<br>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </form>
        </section>
        </center>

    <h4 class="display-3" style="color:#FFF;margin-top: 75px; margin-bottom: 75px; margin-left: 30px; margin-right: 30px; text-align:center; font-family: 'Poppins', sans-serif; font-weight: 800;">List Kegiatan</h4>
        <section  style="margin-top: 75px; margin-bottom: 75px; margin-left: 150px; margin-right: 150px">
        {% for kegiatan in kegiatans %}
        <div class="card" >
            <div class="card-header">
                <h5>Activities</h5>
            </div>
            <div class="card-body">
                <h3 class="card-title">{{kegiatan.namaKegiatan}}</h3>
                {% for i in pesertas %}
                {% if i.namaKegiatan == kegiatan %}
                <p>-{{i.namaPeserta}}</p>
                {% endif %}
                {% endfor %}
                <form method="POST" action="uploadpeserta/">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col">
                            {{uploadPeserta}}<br>
                            <button type="submit" class="btn btn-primary">Tambah Peserta</button>
                        </div>
                    </div>
                </form>
                <center>
                <a href="delete/{{kegiatan.id}}" class="btn btn-primary" id = '{{kegiatan.id}}'>Delete Kegiatan</a>
                </center>
            </div>
        </div>
        {% endfor %}
        </section>
</body>
</html>